div#header {
    background-color: white;
    background-image: url(../images/blob.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}



@media only screen and (min-width: 1024px) {
h3.description {
    margin-left: 7.3rem;
    margin-right: 7.3rem;
  }
}

@media only screen and (min-width: 1070px) {
    h3 {
      font-size: 2.3rem;
    }
    div#header {
      background-position: center;
      background-image: url(../images/blob-xl.png); 

  }

  }

  @media only screen and (min-width: 1070px) {
    h1.main {
      margin-top: 3vh;
    }
  }


  @media only screen and (min-width: 1900px) {
    h3 {
      font-size: 4rem;
    }
    p {
      font-size: 3rem;
    }
    h4 {
      font-size: 3.3rem;
    }

    h1.main {
      font-size: 14rem;
      margin-top: 14vh;

    } 
    h3.description {
      margin-left: 20rem;
      margin-right: 20rem;
    }
  }
  
@media only screen and (max-width: 565px) {
    div#header {
        background-image: url(../images/blob-sm.png); 
    }
}
